.splash-container {
  background-image: url('../../assets/images/splash.png');
  background-size: cover;
  background-position: center;
  z-index: 9999;
  animation: expandOut 0.5s ease-in 1s forwards;
}

.splash-title {
  font-family: "Boldonse", system-ui;
}

.letter {
  animation: slideIn 0.3s ease-out forwards;
  opacity: 0;
  transform: translateX(100vw);
}

.letter.o {
  animation-delay: 0s;
}

.letter.p {
  animation-delay: 0.15s;
}

.letter.u {
  animation-delay: 0.3s;
}

.letter.s {
  animation-delay: 0.45s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes expandOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(5);
  }
}